@font-face {
	font-family: 'proximanovalight';
	src: url('font/proximanovalight.eot');
	src: local('font/proximanovalight'), url('font/proximanovalight.woff') format('woff'), url('font/proximanovalight.ttf') format('truetype');
}

html,
body {
   background-color: #FFF !important;
   font-family: 'proximanovalight' !important;
}
body .container {
   justify-content: space-between;
   margin: 0 auto;
   max-width:1140px;
   background: #FFFFFF;
}
body .container:after,
body .container:before {
   display:none
}

header{
   width: 100%;
}

/* header banner*/
.header-banner{
   padding:10px 0px;
   width:100%;
   display: inline-block;
}
.header-banner img {
   margin:auto;
   display:block;
}
.header-banner::after {
  clear: both;
}

/* header*/
.header-logo{
   width: 100%;
   height:100%;
}
@media screen and (max-width: 1200px) {
  .header-logo{
	  width: 300px;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
   }
}
.header-nav{
   margin: 30px 0px 0px 0px;
   float: right;
}
.header-nav a{
   color:#000;
   padding-left: 14px;
   font-size:16px;
   font-weight: bold;
   text-decoration: none;
}
@media screen and (max-width: 1200px) {
	.header-nav{
		margin: 30px auto;
		float: left;
	}
	.header-nav a{
		padding-right: 14px;
		font-size:16px;
	}
}
@media screen and (max-width: 1000px) {
  .header-nav a{
		display:block;
		margin-top:10px;
	}
}
.header-nav a:hover, .header-nav a.active{
   color:#00b3e5;
   text-decoration: none;
}
.news-sub-category {
  height:300px;
  background-color: #fbfbfb;
  border:2px solid #f5f5f5;
  overflow: auto;
}
.news-sub-category ul{
	padding:10px;
}
.news-sub-category li{
	list-style:none;
	margin-bottom:15px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */



}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  margin-bottom:0px;
  font-size: 16px;
  color:#7d7d7d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	background-color: #87e0fd;
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
 
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover {
  color: #05abe0;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* left side css */
.graybox-advertisement{
   width: 100%;
   background:#f5f5f5;
   border:1px solid #eaeaea;
   height: 167px;
   margin-bottom:10px;
}
.tab-head{
   margin-top:10px;
   padding:0px;
}
.tab-head li{
   float: left;
   list-style: none;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
   background: #f6f8f9; /* Old browsers */
   background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
   font-size:16px;
   padding:7px 10px;
   margin-right:1px;
   color:#000;
   width:33%;
   text-transform: Sentence-case;
   text-align:center;
   line-height:15px;
}
@media screen (min-width: 900px) and (max-width: 1200px) {
	.tab-head li{
		width:32%;
	}
}
.tab-head li.active, .tab-head li:hover{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
   background: #87e0fd; /* Old browsers */
   background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
   color:#FFF !important;
   cursor: pointer;
}
.tab-content{
   margin-top:6px;
   padding:0px 10px;
   width: 100%;
   border:1px solid #efefef;
   min-height: 90px;
   background:#f5f5f5;
}
.tab-content h2{
	font-size: 20px;
	font-weight:bold;
	text-align: justify;
}
.tab-content h2:hover{
   color:#17b2e4;
   cursor:pointer;
   transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.content-heading{
	font-size: 20px;
	font-weight:bold;
	text-align: justify;
	margin:0px 0px 10px 0px;
}
.content-tag{
	font-size: 20px;
	font-weight:bold;
}

/* Right Side*/
.graybox{
   width: 100%;
   height: 100%;
   background:#f5f5f5;
   border:2px solid #eaeaea;
   height:300px;
   overflow: hidden;
}
.featured-image-wrapper{
	background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    padding: 0px 10px;
    position: absolute;
    width: 100%;
}
.featured-image-title{
	color:#FFF;
}
.featured-image-title:hover{
   color:#17b2e4;
   cursor:pointer;
   transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}
.list-news {
    margin-top:15px;
}
.list-news h4{
    font-size: 18px;
    font-weight:bold;
    margin:0px;
}
.list-news-title{
    font-size: 40px;
    font-weight:bold;
}
.list-news-short-description{
    font-size: 18px;
	font-weight:900;
	text-align:justify;
}
.list-news h4 a{
	text-decoration:none;
	color:#000;
}
@media screen and (max-width: 990px) {
	.list-news h4{
		margin-top:15px;
	}
}
.list-news p{
    font-size: 16px;
    margin-top: 15px;
    text-align: justify;
	color:#000;
}
.list-date{
    color:#B5B5B5;
    font-size: 14px;
    margin-top:10px;
	float:left;
}
.list-author{
	color:#B5B5B5;
    margin-top:10px;
    margin-left:20px;
    float:left;
    font-size: 14px;
}
.list-news h4 a:hover, .list-date:hover, .list-author:hover{
   color:#17b2e4;
   cursor:pointer;
   transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
p{
	font-size:16px;
	line-height:25px;
	text-align:justify;
	color:#000;
}
.previous{
	float:left;
	font-size:16px;
	font-weight:bold;
}
.next{
	float:right;
	font-size:16px;
	font-weight:bold;
}
.previous:hover, .next:hover{
	color:#17b2e4;
    cursor:pointer;
    text-decoration:none;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
	
}
/* Common*/
/*image hover */
.img-hover img {
   -webkit-transition: all .3s ease; /* Safari and Chrome */
   -moz-transition: all .3s ease; /* Firefox */
   -o-transition: all .3s ease; /* IE 9 */
   -ms-transition: all .3s ease; /* Opera */
   transition: all .3s ease;
   position:relative;
}
.img-hover img:hover {
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
   -moz-transform:scale(1.10); /* Firefox */
   -ms-transform:scale(1.10); /* IE 9 */
   -o-transform:translatZ(0) scale(1.10); /* Opera */
   transform:translatZ(0) scale(1.10);
}
.news-tag{
	padding:5px 10px;
}
.news-tag:hover{
	font-weight:bold;
	cursor:pointer;
}
.pl-0{
   padding-left:0px !important;
}
.pr-0{
   padding-right:0px !important;
}
.pb-0{
   padding-bottom:0px !important;
}
.pb-1{
   padding-bottom:15px !important;
}
.pt-1{
   padding-top:15px !important;
}
.pt-2{
   padding-top:15px !important;
}
.ml-1{
   margin-left:15px;
}
.mt-1{
   margin-top:15px;
}
@media screen and (max-width: 990px) {
  .pl-0{
   padding-left:15px !important;
   }
   .pr-0{
      padding-right:15px !important;
   }
}
.bottom-line{
   border-bottom: 1px solid #ddd;
   width: 100% !important;
   clear:both;
}
.image-fit{
   width:100%;
   height:100%;
}
.title-box{
    border-bottom: 3px solid #00b3e5;
    width:100%;
}

.title-box span{
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
	color:#FFF !important;
	font-size:18px;
	padding:6px 10px;
}
.title-box-full{
    background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
	color:#FFF !important;
	font-size:18px;
	padding:6px 10px;
    width:100%;
}


/* Footer*/
footer{
   margin-top: 20px;
   background: #555;
   min-height: 150px;
   border-top: 4px solid #00b3e5;
}
footer h4{
    text-align: center;
    color:#FFF;
    margin-top:20px;
    font-size: 14px;
}
.footer-menu {
    padding-top:20px;
    text-align: center;
}
.footer-menu  a{
    color:#FFF;
    font-size: 16px;
    margin:0px 10px;
}
.footer-menu a:hover{
	color:#17b2e4;
    cursor:pointer;
    text-decoration:none;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}